raw_data.zip
external_data/su2.sqlite

scratch
.DS_Store
.#*
*#*#
*~
*__pycache__
auxiliary_plots/*
processed_data/*
raw_data/*
processing_params/*
assets/*
!*/.git_keep
*.sqlite
*.h5
*.yaml
!.pre-commit-config.yaml
*.csv
!external_data/*.csv
external_data/Fig4.csv
*.dat
*.txt
*.out
**.pyc
*.pdf
**.ipynb_checkpoints
