scratch
.DS_Store
.#*
*#*#
*~
*__pycache__
auxiliary_plots/*
processed_data/*
raw_data/*
processing_params/*
final_tables/*
final_plots/*
!*/.git_keep
*.sqlite
*.h5
*.yaml
!.pre-commit-config.yaml
*.csv
!external_data/*.csv
*.dat
*.txt
*.out
**.pyc
*.pdf
**.ipynb_checkpoints
